# Variables
---

### Declaring

In [24]:
my_name = 'Riley'

### Output

In [25]:
my_name

last_name=  'Dallas'

### Printing

In [3]:
print(my_name)

Riley

### Overwriting variables

In [20]:
my_name = 'Riley'

In [21]:
my_name

'Riley'

In [22]:
my_name = my_name +     ' Dallas'

In [23]:
my_name

'Riley Dallas'

# Numbers
---

### Integers vs Floats

In python, there are two types of numbers. Integers and floats. Integers are whole numbers (e.g. 1, 2, 3), whereas floats have decimals (e.g. 1.2, 0.5, etc)

In [26]:
my_age = 36

In [27]:
sons_age = .8

### Casting floats as integers (and vice versa)
Occasionally, you might need to convert an integer to a float (or vice versa). This is especially important when you get into division.

In [28]:
float(my_age)

36.0

In [48]:
int(sons_age)

0

## Basic Math
Math is very straightforward in Python. + adds, - subtracts, / divides, and * multiplies.

### Addition/Incrementing

In [31]:
counter = 0

In [32]:
counter = counter + 1

In [33]:
counter

1

In [37]:
counter += 1

In [79]:
counter

3

In [80]:
counter - 1

2

In [81]:
counter

3

In [82]:
counter = counter -1

In [83]:
counter

2

In [84]:
counter -= 1

In [85]:
counter

1

### Subtraction/Decrementing

In [42]:
counter = counter - 1

In [43]:
counter

4

In [44]:
counter -= 1

In [45]:
counter

3

### Multiplication

In [46]:
4 * 3

12

### Division

In [49]:
float(10) / 3

3.3333333333333335

### Dividing integers vs Floats

In [51]:
print(my_name)

Riley

### Modulo Operations
In computing, the modulo operation finds the remainder after division of one number by another.

In [52]:
10 % 3

1

In [54]:
(my_age + 1) % 2

1

# Strings
---
In Python, a string is used for text. It's important to use quotes when denoting a string, otherwise you'll get an error. 

**Note**: Strings can use single or double quotes

In [55]:
my_name

'Riley'

In [56]:
last_name = 'Dallas'

## Concatenation
You can combine multiple strings into one string through concatenation

In [57]:
my_name + last_name

'RileyDallas'

In [71]:
my_name + ' ' + last_name

'Riley Dallas'

In [66]:
full_name = my_name + ' ' + last_name

In [69]:
test = print(full_name)

Riley Dallas

In [70]:
test

## Interpolation
Interpolation is when you inject one or more strings into another (think mad libs).

In [78]:
'Hello, {}, you are {} years old'.format('Riley Dallas', 36)

'Hello, Riley Dallas, you are 36 years old'

In [87]:
'Hello, ' + my_name + ', you are ' + str(my_age) + ' years old.'

'Hello, Riley, you are 36 years old.'

## Upper/Lowercase

In [91]:
name = 'riley dallas'

In [89]:
my_name.upper()

'RILEY'

In [90]:
my_name.lower()

'riley'

In [94]:
name.capitalize()

'Riley dallas'

In [95]:
name.title()

'Riley Dallas'

## Indexing characters

In [98]:
my_name[0]

'R'

In [99]:
my_name[2]

'l'

In [107]:
my_name[3:-1]

'e'

In [102]:
last_name[1:4]

'all'

In [110]:
last_name[1:-3]

'al'

In [115]:
name

'riley dallas'

## Range of Characters

## Splitting
We can break a string up into lists using the `split` method.

### Splitting on spaces

In [116]:
name = 'Riley Dallas'
name

'Riley Dallas'

In [117]:
name.split(' ')

['Riley', 'Dallas']

### Splitting on character(s)

In [118]:
name.split('l')

['Ri', 'ey Da', '', 'as']

# Dictionaries
---

In [127]:
me = {
    'first_name': 'Riley',
    'last_name': 'Dallas',
    'age': 36
}

In [129]:
me['first_name']

'Riley'

In [133]:
the_key = 'first_name'

In [134]:
me[the_key]

'Riley'

## Accessing values from a dictionary

In [130]:
me['age']

36

In [132]:
me.get('middle_name')

In [137]:
me['middle_name'] = 'L'

In [138]:
me

{'age': 36, 'first_name': 'Riley', 'last_name': 'Dallas', 'middle_name': 'L'}

# Lists
---

In [142]:
my_list = [1, 2, 3, 0, 'Riley']

### Indexing

In [145]:
my_list[2]

3

### Slicing

In [146]:
my_list[0:3]

[1, 2, 3]

## Creating lists from ranges

In [151]:
list(range(1,101, 3))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Tuples
---
Tuples are like lists, except you can't change them once they're created. The scrabble word for this is "immutable".

In [152]:
tup = (1, 2, 34)

In [154]:
my_list[0] = 'Foobar'

In [155]:
my_list

['Foobar', 2, 3, 0, 'Riley']

In [157]:
tup[0] = 'Foobar'

TypeError: 'tuple' object does not support item assignment

In [158]:
list(tup)

[1, 2, 34]

In [159]:
tup = list(tup)

(1, 2, 34)

# Sets
---
Sets are like lists, except they will only retain the **unique** values in a list.

In [161]:
set([1, 1, 2, 3])

{1, 2, 3}

# Booleans
---

In [162]:
True

True

In [163]:
False

False

# Boolean Expressions
---
Boolean expressions are "truth tests" that either evaluate to `True` or `False`

### Equality

In [166]:
10 == 9

False

### Greater Than

In [167]:
10 > 9

True

### Greater than or equal to

In [171]:
9 >= 9

True

### Less Than

In [172]:
9 < 10

True

### Less Than or equal to

In [173]:
9 <= 9

True

### Not equals

In [175]:
10 != 10

False

### Modulo Expressions

In [181]:
my_age % 3 == 0

True

### "in"

In [182]:
'i' in name

True

In [185]:
11 in my_list

False

### Logical and

In [192]:
1 and 0

0

### Logical or

In [190]:
False or True

True

### Not True/Not False

In [193]:
not True

False

In [194]:
not False

True

# Conditionals
---

### If Statements

In [200]:
if True:
    print("I am true")
print('Yet another print statement')

I am true
Yet another print statement

### If/Else

In [208]:
if 17 >= 18:
    print("I can vote")
    print("I can also drive")
    
else:
    print("I cannot vote")
    
print('Yet another print statement')

I cannot vote
Yet another print statement

### If/Elif/Else

In [216]:
if False:
    print("First true")
elif False:
    print("second true")
else:
    print("Else")
    
print('Yet another print statement')

Else
Yet another print statement

In [217]:
if False:
    print("hello")

# Functions
---

### Declaring vs Invoking

In [227]:
def greeting():
    print("Hello")
    print("How are you?")
    print("Howdy")

In [228]:
greeting()

greeting()

greeting()

Hello
How are you?
Howdy
Hello
How are you?
Howdy
Hello
How are you?
Howdy

### Functions with paramenters

In [234]:
def greeting(first_name, last_name):
    print("Hi, " + first_name + ' ' + last_name)

In [235]:
greeting("Riley", "Dallas")

Hi, Riley Dallas

In [232]:
greeting("Kevin")

Hi, Kevin

In [233]:
name

'Riley Dallas'

## While Loops
---
```python
truth_test = True
while truth_test:
    print 'hello'
```
This is an example of a **while** loop. While loops continue to run until the expression after `while` evaluates to `False`. In the example above, the loop will continue to run ad infinitum because we never change `truth_test` be `False` in our block.

Now it's time for some practice. We'll create a `while` loop in conjunction with `raw_input` to create the following program:
![](http://snag.gy/WsiZu.jpg)

In [237]:
user_name = input("What is your name?")

What is your name?Riley

In [238]:
user_name

'Riley'

In [243]:
bit_by_snake = "no"

while bit_by_snake == "no":
    bit_by_snake = input("Did the snake bite you?")
    print("Poke it with a stick")

print("Go to the hospital")

KeyboardInterrupt:

## For Loops
---
```python
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
```

This is a **for** loop. It has the heading starting with **for**, followed by a 
variable name (count in this case), the word **in**, some sequence, and a final colon. 
As with function definitions and other heading lines, the **colon** at the end of 
the line indicates that a consistently **indented block** of statements follows 
to complete the for loop.

In [244]:
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count)

1
Yes
2
YesYes
3
YesYesYes

In [245]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [246]:
for letter in "computer":
    print(letter)

c
o
m
p
u
t
e
r

In [250]:
dna = "GCCCTTAA"

rna = ""
for n in dna:
    if n == "T":
        rna = rna + 'U'
    else:
        rna = rna + n
    
rna

'GCCCUUAA'

In [252]:
total_ages = 0

for age in [36, 28, 37, 40, 21, 33]:
    if age % 2 == 1:
        total_ages = total_ages + age
total_ages

91

In [253]:
total = 0

for number in [45, -20, 3, -9, 0, 12]:
    if number > 0:
        total += number
total

60

In [275]:
total = int(input("What is the total?"))

if total <= 23:
    print("green")
elif total <= 44:
    print("amber")
else:
    print("red")

What is the total?foobar

ValueError: invalid literal for int() with base 10: 'foobar'